/* Color Variables used in project */
:root {
    --main-background-color: #5c594e;
    --nav--color: #aca59c;
    --main-color: #daad86;
    --text-color: #fff;
    --box-color: #659dbd;
    --unselected-color: #bc988a;
    --selected-color: #fbeec1;
}

/*Takes padding and margins off the page*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* BODY AND OTHER IMPORTANT THINGS */
body {
	font-family: 'Montserrat', sans-serif;
	background: var(--main-background-color);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

img
{
    max-width: 100%;
}

section
{
    padding: 100px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* NAVIGATION */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}

header.sticky
{
    background: var(--nav--color);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header ul
{
    position: relative;
    display: flex;

}

header ul li 
{
    position: relative;
    list-style: none;

}

header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

/* if it is sticky nav */
header.sticky ul li a
{
    border-radius: 40px;
    padding: 5px 15px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}

header.sticky ul li a:hover {
    background: linear-gradient(90deg,#55e7fc, #0162c8);
}

/* if it is the selected one of the nav */
header.sticky ul li a.active
{
    border-radius: 40px;
    padding: 5px 15px;
    background: linear-gradient(90deg,#bc988a,#fbeec1);
}

header.sticky ul li a:hover.active {
    background: linear-gradient(90deg,#fbeec1, #bc988a);
}

header ul li a.active
{
    border-radius: 40px;
    padding: 5px 15px;
    background: linear-gradient(90deg,#bc988a,#fbeec1);
}

header ul li a:hover.active {
    background: linear-gradient(90deg,#fbeec1, #bc988a);
}

/* BANNER */
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(../pictures/index/banner.JPG);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 500;
}

.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

/* BUTTONS */
.button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
    border: 0px;
    background: linear-gradient(90deg,#bc988a,#fbeec1);
}

.button:hover {
    background: linear-gradient(90deg,#fbeec1, #bc988a);
}

header.sticky .button
{
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    color: white;
}

header.sticky .button:hover
{
    background: linear-gradient(90deg,#55e7fc, #0162c8);
}

/* ABOUT ME */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .textBx {
    grid-column: 1;
    padding-right: 10%;
    color: var(--text-color);
  }
  
  .textBx p {
    margin: 1em 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .imgBx {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .imgBx img:nth-child(1) {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
  }
  
  .imgBx img:nth-child(2) {
    grid-row: 3;
    grid-column: 1;
    padding-right: 2.5%;
  }
  
  .imgBx img:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
    padding-left: 2.5%;

  }

  /* PORTFOLIO */
.content {
    width: 90%;
    margin: 30px auto 30px;
    /* border: 1px solid red; */
}

.content .main-content {
    width: 70%;
    float: left;
    /* border: 1px solid blue; */
}

.content .main-content .recent-post-title {
    margin: 20px;
    color: white
}

.content .main-content .post {
    position: relative;
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: var(--main-color);
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .post .read-more {
    position: absolute; 
    bottom: 10px;
    right: 10px; 
} 

.content .sidebar {
    width: 30%;
    float: left;
    /* border: 1px dashed green; */
    height: 300px;
}

  .postContainer {
    display: grid;
    grid-template-rows: 200px 1fr;
  }

  .postContainer .filler {
    grid-row: 1;
    padding-right: 10%;
    color: var(--text-color);
  }

  .postContainer .posts {
    grid-row: 2;
    padding-right: 10%;
    color: var(--text-color);
  }

