
:root {
    --main-color: blue;
  }

/*Takes padding and margins off the page*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section
{
    padding: 100px;
}



/* Header Properties */
header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/*PROJECT BLOG POSTS*/


.container {
    margin-top: 150px;
    padding: 5%;
}

.container h2 {
    letter-spacing: 1px;
    font-size: 50px;
    color: #6968aa;
    padding: 10px;
    border: 2px dashed #0181a0;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 90px;
    margin-left: 375px;
}

.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #dbf4ff21;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 20px;;
}

.blog-post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog-post_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
}

.blog-post_date span{
    display: block;
    color:#000000;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem;
}

.blog-post_title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #000000b3
}

.blog-post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #ffffff;
    border-radius: .8rem;
    text-decoration: none;
    background: linear-gradient(to right, #c945cf, 0%, #04a6bd 100%);
}

.blog-post_cta:hover {
    background: linear-gradient(to right, #04a6bd, 0%, #c945cf  100%);
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post_img {
        max-width: 30rem;
        min-width: 30rem;
    }
    .container h2 {
        margin-top: 120px;
        margin-left: 275px;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }
    .container h2 {
        margin-top: 20px;
        margin-left: 142px;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, .1rem);
    }
    .container h2 {
        margin-top: auto;
    }
}

@media screen and (max-width: 823px) {
    .container h2 {
        margin-top: 35px;
        margin-left: 142px;
    }
}




/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


 /* SERIVCE PAGE */
body {
	font-family: 'Montserrat', sans-serif;
	background: #e3e9f7;
}
.wrapper {
	padding: 50px 0;
	position: relative;
	margin: 120px 0;
}

.imgBox {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 5px dashed #262626;
	border-radius: 50%;
	overflow: hidden;
}
.imgBox img {
	width: 100%;
}
.post-inner {
	background: aliceblue;
	padding: 35px;
	border-radius: 25px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.post-caption {
	position: static;
	padding-bottom: 15px;
	padding-top: 0;
}
.post-caption h3 {
	font-size: 50px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: 'Allura', cursive;
	color: #262626;
	text-shadow: none;
}
.post-caption h4 {
	color: #2b2626;
	text-shadow: none;
}
.post-caption p {
	font-size: 18px;
	margin: auto;
	width: 70%;
	margin-bottom: 10px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	text-shadow: none;
	color: #2b2626;
}

.resume {
    padding: 100px;
    background-color: #04AA6D;
}

.resume .section{
    background-color: aqua;
    padding: 20px;
    width: 60%
}

.qualifications{
    background-color: antiquewhite;
}

.qualifications .entry{
    background-color: #04AA6D;
    margin: 5%
}

/*Hexagon*/
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
} */
.hexContainer{
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hexContainer .hexagonArea{
    display: flex;
}

.hexContainer .hexagonArea .last{
    transform: translateY(-45px);
}

.hexContainer .hexagonArea .hexagon{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 10px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* cursor: pointer; */
    transition: 0.5s;
} 

.hexContainer .hexagonArea .hexagon img {
    width: 80px;
}

.hexContainer .hexagonArea .hexagon h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;
}

.hexContainer .hexagonArea .hexagon:hover {
    background: deepskyblue;
    transform: scale(0.8);
}


